# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C Extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
dist/
build/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test and coverage
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Django stuff:
*.log
*.sqlite3
db.sqlite3
/media
/staticfiles

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.iml

# Other files
*.DS_Store
*.swp
*.swo
Thumbs.db