@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */
body {
  @apply bg-gray-100 text-gray-900; /* Aplicar un fondo y texto predeterminado */
  font-family: "Arial", sans-serif; /* O elige tu fuente preferida */
}

h1 {
  @apply text-2xl font-bold; /* Tamaño y negrita para encabezados */
}

h2 {
  @apply text-xl font-semibold; /* Tamaño y estilo para subtítulos */
}

p {
  @apply mt-2 text-base; /* Margen y tamaño de fuente para párrafos */
}

/* Puedes añadir más estilos personalizados según sea necesario */

@keyframes wave {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(10%) scale(1.1);
  }
  50% {
    transform: translateX(20%) scale(1.2);
  }
  75% {
    transform: translateX(10%) scale(1.1);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

.animate-wave {
  animation: wave 10s infinite ease-in-out;
}
